## Lab 3: 실습- 교재 84 문제 풀이

Q1.
- 교재84쪽의 표를 이용하여 데이터 프레임 df1을 만들어 출력해 보세요
- df의 인덱스, 컬럼, value 값을 추출하여 출력해 보세요
- 만든 데이터 프레임을 이용하여 과일의 평균 가격과 판매량의 평균을 구하세요

In [1]:
import pandas as pd
df1 = pd.DataFrame({
    '제품' : ['사과','딸기','수박'],
    '가격' : [1800, 1500, 3000],
    '판매량' : [24,38,13]
})
df1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [2]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [3]:
df1.columns

Index(['제품', '가격', '판매량'], dtype='object')

In [4]:
df1.values

array([['사과', 1800, 24],
       ['딸기', 1500, 38],
       ['수박', 3000, 13]], dtype=object)

In [5]:
#평균 가격
df1['가격'].mean()

2100.0

In [6]:
#평균 판매량
sum(df1['판매량'])/df1['판매량'].count()

25.0

## Lab 6: CSV 파일 불러오기

- df_exam에서 math, english, science의 성적이 50점 이상인 학생의 수를 구하시오

In [7]:
df_exam = pd.read_excel("excel_exam.xlsx")
df_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [8]:
df= df_exam[(df_exam['math']>=50) & (df_exam['english'] >= 50) & (df_exam['science']>= 50)]
df.shape[0]

10